body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.stack {
    display: grid;
    grid-template: 1fr / 1fr;
}

.stack > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    width: 100%;
    height: 100%;
}

body {
    background-color: gray;
}

#table {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    background-color: darkgreen;
    overflow: hidden;
}

#stick {
    width: fit-content;
    height: fit-content;
    transform-origin: 4px -16px;
    transform: rotateZ(var(--rotationZ));
    z-index: 3;
}

#stick-body {
    margin-top: var(--pull);
    width: 8px;
    height: 256px;
    background-color: brown;
}

#stick-tip {
    background-color: white;
    height: 8px;
}

#ball-1, #ball-9 {
    --color: yellow;
}

#ball-2, #ball-10 {
    --color: blue;
}

#ball-3, #ball-11 {
    --color: red;
}

#ball-4, #ball-12 {
    --color: purple;
}

#ball-5, #ball-13 {
    --color: orange;
}

#ball-6, #ball-14 {
    --color: green;
}

#ball-7, #ball-15 {
    --color: brown;
}

#ball-8 {
    --color: black;
}

#ball-16 {
    --color: white;
}

.ball {
    --size: 32px;
}

.ball {
    --halfsize: calc(var(--size) / 2);
    width: var(--size);
    height: var(--size);
    z-index: 2;

    border-radius: 50%;
    background-color: var(--color);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.ball > * {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50%);
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;

    transform-origin: 50% 50% var(--halfsize);
    backface-visibility: hidden;
}

.circle-alt {
    width: var(--size);
}

.circle-top {
    transform: rotateY(var(--rotationX)) rotateX(calc(var(--rotationY) - 90deg));
}

.circle-bottom {
    transform: rotateY(var(--rotationX)) rotateX(calc(var(--rotationY) + 90deg));
}

.circle-front {
    width: var(--halfsize);
    display: flex;
    align-items: center;
    justify-content: center;

    transform:  rotate3d(1, 0, 0, var(--rotationY)) rotate3d(0, 1, 0, var(--rotationX));
}

.circle-text {
    font-size: calc(var(--size) / 4);
    font-family: monospace;
}

.hole {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: black;
}

.hide {
    transition: linear 0.05s;
    opacity: 0;
}