.stack {
    display: grid;
    grid-template: 1fr / 1fr;
}

.stack > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    width: 100%;
    height: 100%;
}

#table {
    width: 320px;
    aspect-ratio: 0.5;
    background-color: green;
    --border: 20px;
    /* border: var(--border) solid brown; */
    box-shadow: 0 0 0 10px brown;
    border-radius: 10px;
    margin: 20px;
}

#holes {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    justify-content: space-between;
    align-content: space-between;
}

/* #holes > * {
    grid-column: auto / auto;
    grid-row: auto / auto;
} */

/* #holes > *:nth-child(2n + 1) {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
} */

.hole {
    width: 32px;
    /* margin: calc(var(--border) / 2); */
    margin: -5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
}

body {
    background-color: gray;
}

#ball-8 {
    --color: black;
}

#ball-13 {
    --color: orange;
}

.ball {
    --size: 32px;
}

.ball {
    --halfsize: calc(var(--size) / 2);
    width: var(--size);
    aspect-ratio: 1;

    border-radius: 50%;
    background-color: var(--color);

    clip-path: circle(50%);
}

.ball > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;

    transform-origin: 50% 50% var(--halfsize);
    backface-visibility: hidden;
}

.circle-alt {
    width: var(--size);
}

.circle-top {
    transform: rotateY(var(--rotationY)) rotateX(calc(var(--rotationX) - 90deg));
}

.circle-bottom {
    transform: rotateY(var(--rotationY)) rotateX(calc(var(--rotationX) + 90deg));
}

.circle-front {
    width: var(--halfsize);
    display: flex;
    align-items: center;
    justify-content: center;

    transform:  rotate3d(0, 1, 0, var(--rotationY)) rotate3d(1, 0, 0, var(--rotationX));
}

.circle-text {
    font-size: calc(var(--size) / 4);
    font-family: monospace;
}